
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml

hs_err_pid*

# Vagrant folder and Vagrantfile
.vagrant/
Vagrantfile
/Homer/target/
.idea/
*.iml
/Homer/nbproject/
/sk.upjs.paz1c_Homer_jar_0.1/target/